#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp KP_Q        &kp KP_W        &kp KP_E        &kp KP_R        &kp KP_T                &kp KP_Y        &kp KP_U        &kp KP_I        &kp KP_O        &kp KP_P
            &kp KP_A        &kp KP_S        &kp KP_D        &kp KP_F        &kp KP_G                &kp KP_H        &kp KP_J        &kp KP_K        &kp KP_L        &kp KP_SQT
            &kp KP_Z        &kp KP_X        &kp KP_C        &kp KP_V        &kp KP_B                &kp KP_N        &kp KP_M        &kp KP_COMMA    &kp KP_DOT      &kp KP_SLASH
                            &kp KP_TAB      &kp KP_DEL      &kp KP_BSPC     &kp MO(1)               &kp KP_C_PLAY   &kp KP_SPACE    &kp KP_ENTER    &kp KP_ESC
            >;
        };

        bt_layer {
            bindings = <
            &kp KP_Q        &kp KP_W        &kp KP_E        &kp KP_R        &kp KP_T                &kp KP_Y        &kp KP_U        &kp KP_I        &kp KP_O        &kp KP_P
            &kp KP_A        &kp KP_S        &kp KP_D        &kp KP_F        &kp KP_G                &bootloader     &kp BT_SEL 0    &kp BT_SEL 0    &kp BT_SEL 0    &kp BT_CLR
            &kp KP_Z        &kp KP_X        &kp KP_C        &kp KP_V        &kp KP_B                &kp KP_N        &kp KP_M        &kp KP_COMMA    &kp KP_DOT      &kp KP_SLASH
                            &kp KP_TAB      &kp KP_DEL      &kp KP_BSPC     &kp MO(1)               &kp KP_C_PLAY   &kp KP_SPACE    &kp KP_ENTER    &kp KP_ESC
            >;
        };
    };
};